<div class=" mt-1 pt-5">
  <div class="row">
    <div class="col-md-4">
      
      <div class="card border-primary shadow-lg" style="width: 18rem;">
        <img [src]="img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Journée Scientifique</h5>
          <p class="card-text">🧑‍🔬 #journée_scientifique sur les tendances de la #santénumérique en Tunisie 🇹🇳 et dans le Monde</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">📅 Mercredi 31 mai 2024</li>
          <li class="list-group-item"> ⛳ Auditorium #ibnkhaldun, </li>
          <li class="list-group-item">Cité des Sciences à Tunis.
            🕧 08h30-16h00</li>
        </ul>  
        <div class="card-body">
          <a href="#" class="card-link">#santénumérique en Tunisie 🇹🇳 et dans le Monde</a>
          <a href="#" class="card-link">autre</a>
        </div>
      </div>
    </div>
    <div class="col-md-7 mx-auto">
      
      <div class="card border-primary mt-5 shadow-lg rounded">
        <div class="card-header text-center bg-primary text-white rounded-top">
         <h1 class="text-center" style="text-decoration: underline;">Formulaire</h1>
      <h3 class="text-center">Centre Informatique du Ministère de la Santé</h3>
      
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="name" class="font-weight-bold">Nom</label>
              <input [(ngModel)]="user.name" name="name" type="text" class="form-control rounded" id="name" placeholder="Votre nom">
            </div>
            <div class="form-group">
              <label for="surname" class="font-weight-bold">Prénom</label>
              <input [(ngModel)]="user.lastname" name="lastname" type="text" class="form-control rounded" id="surname" placeholder="Votre prénom">
            </div>
            <div class="form-group">
              <label for="idCard" class="font-weight-bold">Numéro de carte d'identité</label>
              <input [(ngModel)]="user.numc" name="numc" type="text" class="form-control rounded" id="idCard" placeholder="Votre numéro de carte d'identité">
            </div>
            <div class="form-group">
              <label for="phoneNumber" class="font-weight-bold">Numéro de téléphone</label>
              <input [(ngModel)]="user.numt" name="numt" type="text" class="form-control rounded" id="phoneNumber" placeholder="Votre numéro de téléphone">
            </div>
            <div class="form-group">
              <label for="gmail" class="font-weight-bold">Gmail</label>
              <input [(ngModel)]="user.email" name="email" type="email" class="form-control rounded" id="gmail" placeholder="Votre gmail">
            </div>
            <div class="form-group">
              <label for="password" class="font-weight-bold">Mot de passe</label>
              <input [(ngModel)]="user.password" name="password" type="password" class="form-control rounded" id="password" placeholder="Votre mot de passe">
            </div>
            <button (click)="addUser()" type="button" class="btn btn-primary mt-2 shadow-lg rounded">Soumettre</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>